/* Fonts only. Typically, you won't change this. Most changes should be made at customize.css. */

    /* Class references for easy font setting */

        .arimo { font-family: 'Arimo', sans-serif; }

        .osans { font-family: 'OpenSans-Regular', sans-serif; }
        .osans-md { font-family: 'OpenSans-SemiBold', sans-serif; }
        
        .wsans-lt  { font-family: 'WorkSans-Light', sans-serif; }
        .wsans  { font-family: 'WorkSans-Regualr', sans-serif; }
        .wsans-md  { font-family: 'WorkSans-Medium', sans-serif; }

        .rbk { font-family: 'Rubik'; }

        .slt-lt { font-family: 'SlatePro-Light'; }
        .slt { font-family: 'SlatePro'; }
        .slt-md { font-family: 'SlatePro-Medium'; }

    /* Licensed files (from Leslie Lim)*/

        @font-face {
            font-family: SlatePro-Light;
            src: url("fonts/SlatePro-Light.woff") format("woff"), url("fonts/SlatePro-Light.ttf")  format("truetype");
        }
        @font-face {
            font-family: SlatePro;
            src: url("fonts/SlatePro.woff") format("woff"), url("fonts/SlatePro.ttf")  format("truetype");
        }
        @font-face {
            font-family: SlatePro-Medium;
            src: url("fonts/SlatePro-Medium.woff") format("woff"), url("fonts/SlatePro-Medium.ttf")  format("truetype");
        }

    /* Google Fonts */


        @font-face {
            font-family: OpenSans;
            src: url("fonts/OpenSans-Regular.ttf")  format("truetype");
        }
        @font-face {
            font-family: OpenSans-Medium;
            src: url("fonts/OpenSans-SemiBold.ttf")  format("truetype");
        }

        @font-face {
            font-family: WorkSans-Light;
            src: url("fonts/WorkSans-Light.ttf")  format("truetype");
        }
        @font-face {
            font-family: WorkSans-Medium;
            src: url("fonts/WorkSans-Medium.ttf")  format("truetype");
        }
        @font-face {
            font-family: WorkSans;
            src: url("fonts/WorkSans-Regular.ttf")  format("truetype");
        }

        @font-face {
            font-family: Rubik;
            src: url("fonts/Rubik-Regular.ttf")  format("truetype");
        }