/* 
    General OWAC and useful CSS. 
    We suggest reviewing these classes since you will likely find them useful.
    Typically, you won't change this. Most changes should be made at customize.css. 
*/

/* Element-level defaults */

    body { 
        font-size:1.1em; 
        font-family: 'OpenSans'; 
        background-color: #f2f2f2; 
        color: #5f6a6d;
        overflow: auto;
    }
    label, .btn-default { font-weight: normal; color: #5f6a6d } 
    ul { list-style-type: none; margin:0; padding: 0; }
    /*.tab-content ul { margin-bottom: 5px !important; }*/
    ul.bullet { list-style-type: disc; margin-bottom: 5px;  }
    ul.bullet li { display: block; display: list-item; margin-left: 20px; }
    li { vertical-align: top; }
    div{ height:auto; }
    p { font-family: 'WorkSans', sans-serif; font-size: 9pt; margin:0; padding:0; }
    div.shrink { transform:scale(0.3) }
    img { width:100%; max-width: 100%;  max-height: 100%; }
    .clickable { cursor: pointer; }
    h1, h2, h3 { margin: 5px; }
    h3 { font-size: 18px; }

/* Colors */

    .white { color: White; }
    .lgrey{ color:#a0aaac; }
    .bg-lgrey, .bg-lgray { background-color: rgb(250, 250, 250); }
    .border-lgrey, .border-lgray { border: 1px solid rgba(0,0,0,.05); }
    .grey { color: #707c80 !important; }
    .bg-grey, .bg-gray, .bggrey, .bggray { background-color: #a0a9ac; }
    .dgrey{ color: #555f61; }
    .bg_white, .bgwhite { background-color: white; }
    .blue { color: #00A8C8; } .bg_blue, .bg-blue { background-color: #00A8C8;  }
    .dblue { color: #006d9e; } .bg_dblue, b.g-dblue { background-color: #006d9e;  }
    .bg-sapphire .info-box-icon, .info_box_container_new bg-sapphire { background-color: #00A8C8 !important; }
    .bg-citrine .info-box-icon, .info_box_container_new .bg-citrine { background-color: #F48132 !important; }
    .bg-ruby .info-box-icon, .info_box_container_new .bg-ruby { background-color: #ED2C67 !important; }
    .bg-garnet .info-box-icon, .info_box_container_new .bg-garnet { background-color: #EF4E45 !important; }
    .bg-iolite .info-box-icon, .info_box_container_new .bg-iolite {  background-color: #6F85C2 !important; }
    .bg-emerald .info-box-icon, .info_box_container_new .bg-emerald {  background-color: #72BE44 !important; }

/* Font */

    .bold {font-weight: bold;}
    .not_bold {font-weight:normal; }
    .tlg { font-size: 1.5em; } /* text large */
    .tmd { font-size: 1em; } /* text medium */
    .tsm { font-size: 0.85em; }
    .italic { font-style: italic; }
    .inline, .il { display: inline-block; vertical-align: top; }
    .tlg { font-size: 1.5em; } /* text large */
    .tmd { font-size: 1em; } /* text medium */
    .tsm { font-size: 0.85em; }

/* Alignment */

    .middle{ height:100%; vertical-align: middle; }
    .center { text-align: center; }
    .right{ text-align: right; }
    .left{ text-align: left; }
    .top{ vertical-align: top; height: 100%; }

    /* bottom requires both a parent container filling 100% height with position: relative and a child with position: absolute and bottom 0*/
    
        .bottom{ vertical-align: bottom; height: 100%; }    
        .bottom-screen-container{ height: 100%; position: absolute; }
        .bottom-screen{ position: absolute; bottom: 0; }

/* Blocking and sizing, we remove 1% form both sides to give space to prevent wrapping and remove margins to prevent that from breaking spacing calcs - use padding instead */
    
    .gr1 { margin: 0; width: 37.5%; } /* smaller golden ratio, leaving a bit of space to prevent wrapping. */
    .gr2 { margin: 0; width: 61.8%; } /* larger golden ratio 0.618 is the larger of 1 / golden ratio,  */
    .hgr1 { margin: 0; height: 38.2%; }
    .hgr2 { margin: 0; height: 61.8%; }
    .start-sizing { /* must be the parent element of any w-sized below. this removes white space between elements which throws off sizing */
        font-size: 0; width: 100%; display: block; margin: 0; padding: 0;
    } 
    .w100 { width: 100%; margin: 0; display: inline-block; font-size: 8pt; vertical-align: top; padding-right: 10px; padding-bottom: 10px; }
    .w50 { margin: 0; width: 50%; display: inline-block; font-size: 8pt; vertical-align: top; padding-right: 10px; padding-bottom: 10px; } /* font-size resets size back to default, which for this dashboard is 8pt */
    .w25 { margin: 0; width: 24%; display: inline-block; font-size: 8pt; }
    .w33 { margin: 0; width: 32%; display: inline-block; font-size: 8pt; }
    .h50 { margin: 0; height: 50%; vertical-align: top; }
    .h100 { margin: 0; height: 100%; vertical-align: top; }
    .p15 { padding: 15px; }
    .p10 { padding: 10px; }
    .p5 { padding: 5px; }
    .resize{ resize: both; overflow: auto; }
    .block { display: block !important; }
    .block > li { display: block; }
    .shadow { box-shadow: 0 1px 1px rgba(0,0,0,.1); }
    .m10 { margin: 10px; } .mb10 { margin: 0; margin-bottom: 10px; }
    .m15 { margin: 15px; }
    .m5 { margin: 5px; }
    .m0 { margin: 0; }
    .nospace, .no-space { margin: 0; padding: 0; }
    
/* Table boxes - necessary for using table functions from custom owac code. */

    .table_container{ padding: 0; margin: 0px; background-color: White; }
    
    /* font-family: 'WorkSans'; font-size: 1.12em; letter-spacing: 0.5px; */

        .table_container th { font-family: 'Rubik'; font-weight: normal !important; letter-spacing: 0.5px; font-size: 9pt; padding-left: 3px !important; padding-bottom: 3px !important; }
        .table_container td { font-size: 8pt; color:#37424A; }
        .table_container .btn, .table_container label { font-family: 'Arial'; }

    /* total rows/columns */

        .table_container .total { background-color: #bfbfbf; color: White; border-top: none !important; font-weight: bold !important; letter-spacing: .5px; font-size: 9pt; }

/* Chart boxes */

    .chart-container { background-color: White; padding: 5x; display: inline-block; vertical-align: top; margin-right: 15px; margin-bottom: 15px; }

/* Metric selector & chart label, used in various custom owac charting functions */

    .selectize-control.single .no-after.selectize-input:after { content: none; }
    .selectize-input.focus { border-color: #0095b3; box-shadow: none;  }
    .selectize-control { margin-bottom: 0; }

    /* Save as image */

        .save-div { background-color: White; }
        .icon_save { color: #c8ced0; cursor:pointer; font-size: 9pt;  }
        .iconsave-atbottom { position: relative; } /* https://stackoverflow.com/a/15358682 give this class to the div containing the icon so it'll push to the bottom. */
        .icon_save_container {
            position: absolute; bottom: 20px; right: 5pt; height: 0; 
        }

/* Other Custom */

    .helper_subscript { color: #919da1; font-size: 8pt; font-family: 'WorkSans', sans-serif; margin-bottom: 0; }
    .filter-note { margin: 0; padding: 0; height: 16px; }